body {
  font-family: avenir, sans-serif;
}

h1 {
  font-weight: 600;
}

video {
  position: absolute;
  width: 300px;
  height: 225px;
}

video.hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
  display: block;
  font-size: 2rem;
  margin: 1rem 0;
}

button.secondary {
  display: inline;
  font-size: 1.25rem;
  margin: .25rem 0;
}

canvas {
  border: 1px solid #e0e0e0;
  width: 300px;
  height: 210px;
}

canvas.bottom_layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

canvas.top_layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#log {
  font-family: monospace;
  height: 100px;
  position: fixed;
  bottom: 10px;
  width: 98%;
}

p {
  margin: 2px 0px;
}
