<!doctype html>
<html lang="en" ng-app="recollApp">
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.js"></script>
  <script src="http://js.leapmotion.com/leap-0.6.4.min.js"></script>
  <script src="http://js.leapmotion.com/leap-plugins-0.1.6.1.js"></script>
  <script src="http://js.leapmotion.com/leap.rigged-hand-0.1.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- <script src="sketch.min.js"></script> -->
  <script src="assets/js/tracking-min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body ng-controller="connectionController">
  <h1>Expert</h1>

  <button type="button" auto-disable ng-click="connect(); activateLeapMotion()">Click me second!</button>

  <video id='video_remote' autoplay="true" class="hidden" ng-src="{{streams.remote}}"></video>
  Me
  <br />
  <video id='video_local' autoplay="true" ng-src="{{streams.local}}"></video>
  <div style='position: absolute; right: 20px; top: 20px' ng-controller="handSegmController">
    Field worker + my hands
    <br />
    <div style="width: 300px; height: 225px; position: relative;">
      <canvas id='canvas' class='bottom_layer' width="300" height="225" mirror-video="video_remote" reverse-video></canvas>
      <canvas id='canvas_top' class="top_layer" width="300" height="225" trackingjs-hands-layer leap-motion-hands-layer reverse-video></canvas>
    </div>
    <select ng-change="captureHands('#video_local')" ng-model="data.selectedType"
        ng-options="option.name for option in data.types track by option.id">
      <option value="">Select Hand Segmentation</option>
    </select>
    <hr />
    <div ng-controller="snapshotController">
      <canvas id='snapshot' width="300" height="225" reverse-video snapshot></canvas>
      <br />
      <button type="button" class='secondary' ng-click="takeSnapshot()">Take snapshot</button>
      <button type="button" class='secondary' ng-click="sendSnapshot()">Send snapshot</button>
      <canvas id='temp' style='display: none;' width="300" height="225"></canvas>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="assets/vendor/angular/angular.min.js"></script>
  <script src="app/app.js"></script>

  <!-- hand segmentation module -->
  <script src="app/components/expert/hand-segmentation/hand-segm-controller.js"></script>
  <script src="app/components/expert/hand-segmentation/hand-segm-trackingjs-service.js"></script>
  <script src="app/shared/hands/hands-layer-trackingjs-directive.js"></script>
  <script src="app/components/expert/hand-segmentation/hand-segm-leap-motion-service.js"></script>
  <script src="app/shared/hands/hands-layer-leap-motion-directive.js"></script>
  <!-- hand segmentation module end -->

  <script src="app/components/expert/connection/connection-service.js"></script>
  <script src="app/components/expert/connection/connection-controller.js"></script>
  <script src="app/components/expert/snapshot/snapshot-service.js"></script>
  <script src="app/components/expert/snapshot/snapshot-controller.js"></script>
  <script src="app/components/expert/snapshot/snapshot-directive.js"></script>
  <script src="app/shared/connection/ice_servers_service.js"></script>
  <script src="app/shared/video/mirror-video-directive.js"></script>
  <script src="app/shared/video/reverse-video-directive.js"></script>
  <script src="app/shared/ui/auto-disable-directive.js"></script>
  <script src="assets/vendor/sketch.js-2/lib/sketch.min.js"></script>
  <script src="assets/js/tracking-min.js"></script>
</body>
</html>
